doctype html
html
  head
    title Tareas
  body
    form(action="/tasks" method="POST")
      textarea(name="description" placeholder="coloca aqui el pendiente")
      input(type="submit" value="guardar")
